.weather-app {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;


}

.form-control {
    display: block;
    margin: 30px auto;


}



.btn {

    display: block;
    margin: 30px auto;
    box-shadow: 5px 5px 10px #bebaba;
    transition: ease-in-out 200ms;
    width: 100px;
    white-space: nowrap;
}

.date-icon {
    list-style: none;
    text-align: left;
}

.humidity-wind {
    list-style: none;
    text-align: center;
}

.temperature {
    font-size: 55px;

}

.float-right {
    display: block;
    margin: 0 auto;

}

footer {
    font-size: 12px;
}